@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes fadein {
  0% {
    bottom: 0;
    opacity: 0
  }

  to {
    bottom: 30px;
    opacity: 1
  }
}

@-moz-keyframes fadein {
  0% {
    bottom: 0;
    opacity: 0
  }

  to {
    bottom: 30px;
    opacity: 1
  }
}

@-o-keyframes fadein {
  0% {
    bottom: 0;
    opacity: 0
  }

  to {
    bottom: 30px;
    opacity: 1
  }
}

@keyframes fadein {
  0% {
    bottom: 0;
    opacity: 0
  }

  to {
    bottom: 30px;
    opacity: 1
  }
}

@-webkit-keyframes fadeout {
  0% {
    bottom: 30px;
    opacity: 1
  }

  to {
    bottom: 0;
    opacity: 0
  }
}

@-moz-keyframes fadeout {
  0% {
    bottom: 30px;
    opacity: 1
  }

  to {
    bottom: 0;
    opacity: 0
  }
}

@-o-keyframes fadeout {
  0% {
    bottom: 30px;
    opacity: 1
  }

  to {
    bottom: 0;
    opacity: 0
  }
}

@keyframes fadeout {
  0% {
    bottom: 30px;
    opacity: 1
  }

  to {
    bottom: 0;
    opacity: 0
  }
}

@-webkit-keyframes loading {
  0% {
    background-position: 200%0
  }

  to {
    background-position: -200%0
  }
}

@-moz-keyframes loading {
  0% {
    background-position: 200%0
  }

  to {
    background-position: -200%0
  }
}

@-o-keyframes loading {
  0% {
    background-position: 200%0
  }

  to {
    background-position: -200%0
  }
}

@keyframes loading {
  0% {
    background-position: 200%0
  }

  to {
    background-position: -200%0
  }
}

:root[data-theme=light] {
  --text: #5b6466;
  --background: #f5f5f5;
  --primary: #000;
  --secondary: #777;
  --accent: #fff;
  --hover: #3b3b3b;
  --hover-light: #d4d4d4;
  --border: #ccc
}

:root[data-theme=dark] {
  --text: #98a2a4;
  --background: #262626;
  --primary: #fff;
  --secondary: #878787;
  --accent: #000;
  --hover: #d4d4d4;
  --hover-light: #3b3b3b;
  --border: #ffffff
}

body {
  font-family: Arial, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.main-container {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  background-color: var(--accent);
  padding: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px
}

#back-to-top-btn,
.main-container button,
h1 {
  color: var(--accent)
}

.more-departures {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  margin: 20px 0
}

.station-selector {
  margin: 20px 0
}

.main-container button {
  background: var(--primary);
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform .2s;
  -o-transition: -o-transform .2s;
  -moz-transition: transform .2s, -moz-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s, -moz-transform .2s, -o-transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  width: 325px
}

.main-container button:hover {
  background-color: var(--hover);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05)
}

.delayed {
  text-decoration: line-through;
  color: red !important
}

.more-departures button {
  display: none
}

.train-info {
  position: absolute;
  top: 5px;
  right: 7.5px;
  height: 30px;
  width: 30px;
  -webkit-animation: transform 2s ease-in-out;
  -moz-animation: transform 2s ease-in-out;
  -o-animation: transform 2s ease-in-out;
  animation: transform 2s ease-in-out
}

.train-info:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2)
}

.departure-direction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap
}

@media (max-width:768px) {
  .main-container {
    margin: 20px
  }

  .station-selector .station-btn {
    width: 100%
  }

  .modal-window>div {
    min-width: 80% !important
  }

  .more-departures,
  .station-selector {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .more-departures button {
    margin-bottom: 25px
  }

  .main-container button {
    width: 200px;
    font-size: 14px
  }

  .main-container button:hover {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: var(--primary)
  }

  .train-code {
    font-size: 14px
  }
}

.schedule-item {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  border: 1px solid var(--border);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--accent);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.schedule-item a {
  text-decoration: none;
  color: inherit;
  cursor: default
}

.schedule-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  gap: 10px;
  position: relative
}

.schedule-container {
  padding: 0 10px
}

.delayed-info,
.departure-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}

.delayed-info,
.departure-info,
.journey-direction {
  -webkit-box-direction: normal;
  -moz-box-direction: normal
}

.delayed-info {
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  gap: 5px
}

.departure-info,
.journey-direction {
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column wrap;
  -moz-box-orient: vertical;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap
}

.departure-info {
  font-weight: 700;
  font-size: 1.2em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.journey-direction {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}

.train-code {
  color: var(--secondary);
  text-align: right;
  -webkit-flex-basis: 60%;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end
}

.delay-cause {
  font-style: italic;
  font-size: smaller
}

.departure-time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  color: var(--primary)
}

.departure-station {
  letter-spacing: 0;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--text);
  font-weight: 400
}

.departure-arrow,
.journey-arrow {
  color: #8a9497;
  width: 1.00012rem;
  -o-object-fit: contain;
  object-fit: contain
}

.time-block,
.time-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal
}

.time-block {
  background-color: var(--background);
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--text);
  font-size: .654em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid var(--border)
}

.time-left {
  font-size: 1.2em;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column wrap;
  -moz-box-orient: vertical;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-flex-basis: 80%;
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 10px;
  padding: 7.5px;
  cursor: pointer;
  border: 0;
  font-size: 14px;
  z-index: 9999;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: var(--background);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

#back-to-top-btn:hover {
  background: var(--hover-light)
}

.station-btn .star {
  color: gray;
  font-size: 1.2em;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%)
}

.station-btn.favorite .star {
  color: #ff0
}

.choice-buttons,
.modal,
.modal-content {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.choice-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}

.modal,
.modal-content {
  width: 100%
}

.modal {
  display: none;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap
}

#closeModal {
  margin-bottom: 20px
}

.modal-content,
.station-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}

.modal-content .station-btn .star {
  font-size: 1.8em
}

.modal-content {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--background);
  padding: 20px;
  margin: 20px;
  height: 60%;
  border: 1px solid var(--border);
  max-width: 50%;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow-y: scroll
}

.station-btn {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-flow: row-reverse wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
  position: relative
}

.modal-content .station-btn {
  margin: 10px;
  width: 85%;
  font-size: 14px;
  height: 50px
}

.station-name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

@media (min-width:1000px) {
  .modal-content .station-btn {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(33.33% - 20px);
    -moz-box-flex: 0;
    -ms-flex: 0 0 calc(33.33% - 20px);
    flex: 0 0 calc(33.33% - 20px)
  }
}

.station-selector {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width:600px) {
  .modal-content {
    max-width: 70%
  }

  #search-bar {
    margin-bottom: 10px
  }
}

.fade-in {
  -webkit-animation: fadeIn .3s ease-in-out;
  -moz-animation: fadeIn .3s ease-in-out;
  -o-animation: fadeIn .3s ease-in-out;
  animation: fadeIn .3s ease-in-out;
  pointer-events: all;
  opacity: 1
}

.fade-out {
  -webkit-animation: fadeOut .3s ease-in-out;
  -moz-animation: fadeOut .3s ease-in-out;
  -o-animation: fadeOut .3s ease-in-out;
  animation: fadeOut .3s ease-in-out;
  pointer-events: none
}

#search-bar {
  width: 85%;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid var(--border);
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

#themeToggle,
.journey-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

#themeToggle {
  position: absolute;
  top: 20px;
  right: 10px;
  color: var(--accent);
  cursor: pointer;
  border: 0;
  font-size: 18px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  background: var(--background);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.journey-search {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  gap: 10px;
  margin: 20px 0
}

.journey-search label {
  font-weight: 700;
  text-align: left;
  width: auto;
  color: var(--primary)
}

#toast {
  visibility: hidden;
  min-width: 250px;
  -webkit-box-shadow: rgba(0, 0, 0, .24)0 3px 8px;
  -moz-box-shadow: rgba(0, 0, 0, .24)0 3px 8px;
  box-shadow: rgba(0, 0, 0, .24)0 3px 8px;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 30px;
  font-size: 16px;
  margin-bottom: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px
}

.danger {
  background-color: #ffcfcc;
  border: 1px solid #f44336;
  border-left: 9px solid #f44336;
  color: #f44336
}

.success {
  border: 1px solid #04aa6d;
  border-left: 9px solid #04aa6d;
  background-color: #a3ffdd;
  color: #04aa6d
}

.info {
  border: 1px solid #2196f3;
  border-left: 9px solid #2196f3;
  background-color: #c3d9eb;
  color: #2196f3
}

.warning {
  border: 1px solid #ff9800;
  border-left: 9px solid #ff9800;
  background-color: #ffe1b5;
  color: #ff9800
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein .5s, fadeout .5s 2.5s;
  -moz-animation: fadein .5s, fadeout .5s 2.5s;
  -o-animation: fadein .5s, fadeout .5s 2.5s;
  animation: fadein .5s, fadeout .5s 2.5s
}

.invertStations {
  height: 25px;
  width: 25px;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg)
}

#journeyDate {
  width: 200px
}

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto
}

.modal-close,
.modal-window>div {
  position: absolute;
  text-align: center
}

.modal-window>div {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  background: var(--background);
  max-height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  min-width: 20%
}

.modal-window header {
  font-weight: 700
}

.modal-window h1 {
  font-size: 150%;
  margin: 0;
  color: var(--primary);
  text-transform: uppercase
}

.modal-window>div>p {
  margin: 5px 0;
  font-style: italic;
  font-size: 14px;
  color: var(--primary)
}

.modal-close {
  color: var(--secondary);
  line-height: 50px;
  font-size: 120%;
  right: -15px;
  top: -5px;
  width: 70px;
  text-decoration: none
}

.modal-close:hover {
  color: #000
}

.modal-window>div,
.step {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 20px
}

.step-journey {
  margin-left: 80px
}

.step::after,
.step::before {
  content: "";
  position: absolute
}

.step::before {
  top: -10px;
  height: -webkit-calc(100% + 20px);
  height: -moz-calc(100% + 20px);
  height: calc(100% + 20px);
  width: 5px;
  background: #ecf0f1;
  left: -10px
}

.step::after {
  height: 15px;
  width: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #cdd1d2;
  left: -15px
}

.step:first-child::after {
  top: -20px
}

.step:last-child::after {
  top: 100%
}

.step:first-child p {
  -webkit-transform: translateY(-webkit-calc(-100% - 5px));
  -moz-transform: translateY(-moz-calc(-100% - 5px));
  -ms-transform: translateY(calc(-100% - 5px));
  -o-transform: translateY(calc(-100% - 5px));
  transform: translateY(calc(-100% - 5px))
}

.step:last-child p {
  -webkit-transform: translateY(-webkit-calc(100% + 2.5px));
  -moz-transform: translateY(-moz-calc(100% + 2.5px));
  -ms-transform: translateY(calc(100% + 2.5px));
  -o-transform: translateY(calc(100% + 2.5px));
  transform: translateY(calc(100% + 2.5px))
}

.step p {
  top: 3.5px;
  margin: 0 7.5px 7.5px;
  white-space: nowrap
}

.step strong {
  display: block;
  text-align: center
}

.path-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 50px
}

.step-title {
  position: relative;
  color: var(--primary)
}

.step-time {
  position: absolute;
  top: 50%;
  left: -60px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
  color: #777;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap
}

.loading-placeholder {
  position: relative;
  overflow: hidden
}

.train-info.loading-placeholder {
  position: absolute
}

.train-info.loading-placeholder::before {
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%
}

.sncf-logo.loading-placeholder {
  width: 32px;
  height: 20px
}

.departure-arrow.loading-placeholder {
  height: 24px
}

.train-code.loading-placeholder {
  height: 25px
}

.placeholder-time-block .loading-placeholder {
  height: 20px
}

.placeholder-journey-time-block .loading-placeholder {
  height: 30px
}

.loading-placeholder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 90%;
  background: -webkit-linear-gradient(left, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background: -moz-linear-gradient(left, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background: -o-linear-gradient(left, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f0f0f0), color-stop(50%, #e0e0e0), color-stop(75%, #f0f0f0));
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  -moz-background-size: 200% 100%;
  background-size: 200% 100%;
  -webkit-animation: loading 1.5s infinite;
  -moz-animation: loading 1.5s infinite;
  -o-animation: loading 1.5s infinite;
  animation: loading 1.5s infinite
}

.placeholder-header {
  height: 85px
}

.placeholder-journey-header {
  height: 105px
}

.placeholder-time-block {
  height: 20px
}

.placeholder-journey-time-block {
  height: 30px
}

.departure-time.loading-placeholder {
  width: 50px
}

.departure-station.loading-placeholder {
  width: 100px
}