@-webkit-keyframes scrollText {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}

@-moz-keyframes scrollText {
  0% {
    -moz-transform: translateX(100%);
    transform: translateX(100%)
  }

  to {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}

@-o-keyframes scrollText {
  0% {
    -o-transform: translateX(100%);
    transform: translateX(100%)
  }

  to {
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}

@keyframes scrollText {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
  }

  to {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

body {
  font-family: Arial, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f5f5f5
}

.main-container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px
}

.main-container button,
h1 {
  color: #fff
}

.more-departures {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  margin: 20px 0
}

.station-selector {
  margin: 20px 0
}

.main-container button {
  background: #000;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform .2s;
  -o-transition: -o-transform .2s;
  -moz-transition: transform .2s, -moz-transform .2s;
  transition: -webkit-transform .2s;
  -moz-transition: transform .2s, -moz-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s, -moz-transform .2s, -o-transform .2s;
  transition: transform .2s, -webkit-transform .2s, -moz-transform .2s, -o-transform .2s;
  width: 20%
}

.main-container button:hover {
  background-color: #3b3b3b;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05)
}

.delayed {
  text-decoration: line-through;
  color: red
}

.more-departures button {
  display: none
}

.train-stops {
  -webkit-animation: scrollText 20s linear infinite;
  -moz-animation: scrollText 20s linear infinite;
  -o-animation: scrollText 20s linear infinite;
  animation: scrollText 20s linear infinite;
  font-size: .875rem;
  white-space: nowrap
}

.schedule-item button {
  font-weight: 700;
  padding: 4px 10px;
  font-size: 11px !important;
  width: unset !important;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 0
}

@media (max-width:768px) {
  .main-container {
    margin: 20px
  }

  .departure-direction {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap
  }

  .departure-arrow {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    height: unset !important;
    padding: 0 !important
  }

  .more-departures,
  .station-selector {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .more-departures button {
    margin-bottom: 25px
  }

  .main-container button {
    width: 70%;
    font-size: 14px
  }

  .main-container button:hover {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #000
  }

  .train-code {
    font-size: 14px
  }
}

.schedule-item {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.schedule-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  gap: 10px
}

.schedule-container {
  padding: 0 10px
}

.delayed-info,
.departure-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal
}

.delayed-info {
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  gap: 5px
}

.departure-info {
  font-weight: 700;
  font-size: 1.2em;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column wrap;
  -moz-box-orient: vertical;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.train-code {
  color: #777
}

.departure-time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap
}

.departure-station {
  letter-spacing: 0;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #5b6466;
  font-weight: 400
}

.departure-arrow {
  color: #8a9497;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 1.00012rem;
  height: 1.00012rem;
  -o-object-fit: contain;
  object-fit: contain;
  padding-left: .49962rem;
  padding-right: .49962rem
}

.time-block {
  background-color: #f0f0f0;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #5b6466;
  font-size: .654em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #ccc
}

.time-left {
  font-size: 1.2em
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 10px;
  color: #fff;
  padding: 7.5px;
  cursor: pointer;
  border: 0;
  font-size: 14px;
  z-index: 9999;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #cfd8dc;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

#back-to-top-btn:hover {
  background: #b0bec5
}

.station-btn .star {
  color: gray;
  font-size: 1.2em
}

.station-btn.favorite .star {
  color: #ff0
}

#chooseStationBtn {
  margin: 0 auto;
  display: block
}

.modal,
.modal-content {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%
}

.modal {
  display: none;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap
}

#closeModal {
  margin-bottom: 20px
}

.modal-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  max-width: 50%;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow-y: scroll
}

.modal-content .station-btn {
  margin: 10px;
  width: 85%;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-flow: row-reverse wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
  height: 50px
}

.station-name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

@media (min-width:1000px) {
  .modal-content .station-btn {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(33.33% - 20px);
    -moz-box-flex: 0;
    -ms-flex: 0 0 calc(33.33% - 20px);
    flex: 0 0 calc(33.33% - 20px)
  }
}

.station-selector {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width:600px) {
  .modal-content {
    max-width: 70%
  }

  #search-bar {
    margin-bottom: 10px
  }
}

.fade-in {
  -webkit-animation: fadeIn .3s ease-in-out;
  -moz-animation: fadeIn .3s ease-in-out;
  -o-animation: fadeIn .3s ease-in-out;
  animation: fadeIn .3s ease-in-out;
  pointer-events: all;
  opacity: 1
}

.fade-out {
  -webkit-animation: fadeOut .3s ease-in-out;
  -moz-animation: fadeOut .3s ease-in-out;
  -o-animation: fadeOut .3s ease-in-out;
  animation: fadeOut .3s ease-in-out;
  pointer-events: none
}

#search-bar {
  width: 85%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 30px
}